

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    background-color: #fff8dc94;
    align-items: center;
    justify-content: center;
    margin: 0;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    
}



.hidden{
    display: none;
}

.game-pane {
    border-style: inset;
    border-width: 1px;
    border-color: #68dd2e38;
    box-shadow: 2px 2px 2px #77e22836;
}

.cell {
    background-color: #31883e42;
    width: 1.5em;
    height: 1.5em;

    border-style: outset;

    text-align: center;

    user-select: none;
}

.clear {
    border-style: solid;
    border-color: #68dd2e0f;
    background-color: #69b53233;
}

.cell.landmine {
    background:#ccc url(img/mine.jpg)no-repeat center;
    background-size: contain;
}

.cell.landmine.exploded {
    background:#ccc url(img/mine.jpg)no-repeat center;
    background-size: contain;
}

.sweep{
    background:#ccc url(img/flag.jpg)no-repeat center;
    background-size: contain;
}

.cell.landmine.success {
    background-color: green;
    background-size: cover;
}

.p button {
    padding: 5px 15px;
    background-color: #0f8b216e;
    cursor: pointer;
    padding: auto;
}

.btn button:focus {
    padding: 5px 15px;
    background-color: #77e2283d;
    cursor: pointer;
}