
body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}



.flagBox{
    position: absolute;
    top: 50px;
    left: 50%;
    width: 220px;
    height:50px;
    margin-left: -100px;
    
    font-size: 20px;
    font-weight: bolder;
    /* display: none; */
    color: #fff;
}

.hidden{
    display: none;
}

.game-pane {
    border-style: inset;
    border-width: 1px;
    border-color: #ccc;

    box-shadow: 2px 2px 2px #ccc;
}

.cell {
    background-color: #ccc;
    width: 1.5em;
    height: 1.5em;

    border-style: outset;

    text-align: center;

    user-select: none;
}

.clear {
    border-style: solid;
    border-color: #eee;
    background-color: #eee;
}

.cell.landmine {
    background:#ccc url(img/mine.jpg)no-repeat center;
    background-size: contain;
}

.cell.landmine.exploded {
    background:#ccc url(img/mine.jpg)no-repeat center;
    background-size: contain;
}

.sweep{
    background:#ccc url(img/flag.jpg)no-repeat center;
    background-size: contain;
}

.cell.landmine.success {
    background-color: green;
}

.btn button {
    padding: 5px 15px;
    background-color: burlywood;
    cursor: pointer;
}

.btn button:focus {
    padding: 5px 15px;
    background-color: bisque;
    cursor: pointer;
}